asgiref==3.6.0
attrs==22.2.0
colorama==0.4.6
Django==4.1.7
django-filter==22.1
djangorestframework==3.14.0
iniconfig==2.0.0
packaging==23.0
pluggy==1.0.0
psycopg2-binary==2.9.5
pytz==2022.7.1
sqlparse==0.4.3
tzdata==2022.7
